<%= nested_form_for @jerry, :html => {:multipart => true} do |f| %>

  <%# Display errors if any %>
  <% if @jerry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@jerry.errors.count, "error") %> prohibited
      this Jerry from being saved:</h2>
    <ul>
    <% @jerry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <%# jerry fields %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </p>
  <p>
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </p>
  <p> <%# organs fields %>
    <%= f.fields_for :organs do |of| %>
      <%= of.label :role %>
      <%= of.text_field :role %>

      <%= of.label :quantifier %>
      <%= of.text_field :quantifier %>

      <%= of.label :unit %>
      <%= of.text_field :unit %>

      <%= of.link_to_remove "Remove this organ" %>
    <% end %>
  </p>
  <p>
    <%= f.link_to_add "Add an Organ", :organs %>
  </p>
  <p>
    <%= f.submit class: 'button radius success' %>
  </p>
<% end %>