<%= nested_form_for @jerry, :html => {:multipart => true} do |f| %>

  <%# Display errors if any %>
  <% if @jerry.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@jerry.errors.count, "error") %> prohibited
      this Jerry from being saved:</h2>
    <ul>
    <% @jerry.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <%# jerry fields %>
  <div class="row">
    <div class="medium-6 columns avatar">
      <%= f.label :avatar %>
      <% if @jerry.avatar? %>
        <%= image_tag @jerry.avatar.url(:medium).to_s %>
      <% else %>
        <%= image_tag "http://placehold.it/300x300&text=#{@jerry.name ? @jerry.name : "Jerry picture"}" %>
      <% end %>
    </div>
    <div class="medium-6 columns">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Jerry Khan" %>
      <%= f.label :bio %>
      <%= f.text_area :bio, placeholder: "Born to conquer the digital divides" %>
      <%= f.label :change_avatar %>
      <%= f.file_field :avatar %>
      <%= f.label :location %>
      <%= f.text_field :location, placeholder: "Lomé, Togo" %>
    </div>
  </div>

  <%# organs fields %>
  <div class="panel">
    <h3>Organs</h3>
    <%= f.fields_for :organs do |organ_form| %>
      <%= render 'organs/fields', f: organ_form %>
    <% end %>
    <%= f.link_to_add "|+| Add an Organ", :organs, class: "button small radius" %>
  </div>

  <%# skills fields %>
  <div class="panel">
    <h3>Skills</h3>
    <%= f.fields_for :skills do |skills_form| %>
      <%= render 'skills/fields', f: skills_form %>
    <% end %>
    <%= f.link_to_add "|+| Add a Skill", :skills, class: "button small radius" %>
  </div>

  <%# submit %>
  <p>
    <%= f.submit class: 'button radius success' %>
    or 
    <%= link_to "Cancel", action_name == "edit" ? jerry_path(@jerry) : root_path %>
  </p>
<% end %>