<h1>Update <%= @jerry.name %></h1>
<a href="<%= @jerry.avatar.url(:large).to_s %>">  
  <%= image_tag @jerry.avatar.url(:medium).to_s %>
</a>
<%= render 'form' %>

<%= link_to 'Back to the family', jerries_path %>
