<div class="large-8 columns small-centered">

<h1>Contributors to <%= @jerry.name %></h1>

<div class="medium-8 columns small-centered">

  <% @jerry.makers.each do |maker| %>
    <%= link_to "+#{maker.name}", maker_path(maker), class: 'label radius secondary' %>
  <% end %>

  <%= nested_form_for(@jerry, html: {class: 'new_maker'}) do |f| %>
    <%= f.fields_for :makers do |maker_f| %>
      <%= maker_f.label :new_maker %>
      <%= maker_f.text_field :uid, placeholder: "email" %>
    <% end %>
    <%= f.submit "Add to the team", class: "button radius success" %>
  <% end %>

</div>

</div>