<h1><%= link_to "The Jerry family", controller: "jerries" %></h1>

<table>
  <tr>
    <th></th>
    <th>Name</th>
    <th>Bio</th>
  </tr>
 
  <% @jerries.each do |jerry| %>
    <tr>
      <td><%= image_tag jerry.avatar.url(:small).to_s %></td>
      <td><%= link_to jerry.name.to_s, jerry %></td>
      <td><%= jerry.bio %></td>
      <td><%= link_to 'Edit', edit_jerry_path(jerry) %> | </td>
      <td><%= link_to 'Kill', jerry_path(jerry), method: :delete, data: { confirm: "Are you sure you want to kill #{jerry.name}?\nYou can't go back!" } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add a new Jerry', new_jerry_path %> 