<div id="fold" class="small-centered columns">
  <div class="medium-2 medium-offset-2 columns">
    <%= image_tag "/jerry_dit_logo.png", alt: "Jerry Do It Together" %>
  </div>
  <h2><small>presents</small> The Jerry Family</h2>
</div>

<!-- Thumbnails -->
<div class="large-12 columns">
  <div class="row">

    <div class="large-4 small-6 columns">
      <div class="profile">
        <%= link_to image_tag("/add_jerry.png", alt: "+ add a new Jerry"), new_jerry_path %>
      </div>

      <div class="panel">
        <h4><%= link_to "Add a new Jerry", new_jerry_path %></h4>
        <h6 class="subheader">

        </h6>
      </div>
    </div>

    <% @jerries.each do |jerry| %>
    <div class="large-4 small-6 columns">
      <div class="profile">
        <% if jerry.avatar? %>
          <%= link_to image_tag(jerry.avatar.url(:medium).to_s, alt: "Avatar of #{jerry.name}"), jerry %>
        <% else %>
          <%= link_to image_tag("http://placehold.it/310x310&text=#{jerry.name}", alt: "Avatar of #{jerry.name}"), jerry %>
        <% end %>
      </div>

      <div class="panel">
        <h5><%= link_to jerry.name.to_s, jerry %></h5>
        <h6 class="subheader">
          <% if jerry.location %>
            <%= "in #{jerry.location}" %>
          <% else %>
            on the internets
          <% end %>
        </h6>
      </div>
    </div>
    <% end %>

  </div>
</div>
<!-- End Thumbnails -->
