<div class="small-centered columns text-center">
  <h2><small>Jerry DIT presents</small> The Jerry Family</h2>
  <%= link_to '|+| New Jerry', new_jerry_path, class: 'button radius' %>
</div>

<!-- Thumbnails -->
<div class="large-12 columns">
  <div class="row">

    <% @jerries.each do |jerry| %>
    <div class="large-4 small-6 columns">
      <% if jerry.avatar? %>
        <%= link_to image_tag(jerry.avatar.url(:medium).to_s), jerry %>
      <% else %>
        <%= link_to image_tag("http://placehold.it/310x310&text=#{jerry.name}"), jerry %>
      <% end %>

      <div class="panel">
        <h5><%= link_to jerry.name.to_s, jerry %></h5>
        <h6 class="subheader"><%= jerry.bio %></h6>
      </div>
    </div>
    <% end %>

    <div class="large-4 small-6 columns">
      <img src="http://placehold.it/310x310&text=Mothership">

      <div class="panel">
        <h5>Mothership</h5>
        <h6 class="subheader">The mother of all Jerry</h6>
      </div>
    </div>
  </div>
</div>

<!-- End Thumbnails -->
<%= render 'layouts/footer' %>