<h1><%= @jerry.name %></h1>
<a href="<%= @jerry.avatar.url(:large).to_s %>">  
  <%= image_tag @jerry.avatar.url(:medium).to_s %>
</a>
<p>
  <strong>Bio:</strong>
  <%= @jerry.bio %>
</p>
<%= link_to 'Edit', edit_jerry_path(@jerry) %> | 
<%= link_to 'Back to family', jerries_path %>

<% if @jerry.organs.any? %>
<h2>Organs</h2>
<%= render @jerry.organs %>
<% end %>

<%= link_to 'Back to family', jerries_path %>
<br>
~ ~ ~ ~ ~ ~ ~
