<h1 class="column"><%= @jerry.name %></h1>
<div class="medium-4 columns">

  <% if @jerry.avatar? %>
    <%= image_tag @jerry.avatar.url(:medium).to_s, alt: "Avatar of #{@jerry.name}" %>
  <% else %>
    <%= image_tag "http://placehold.it/300x300&text=#{@jerry.name}", alt: "Avatar of #{@jerry.name}" %>
  <% end %>

  <p>
    <% if !@jerry.location.blank? %>
      <strong>Location:</strong><%= @jerry.location %>
      <br>
    <% end %>
    <%= @jerry.bio %>
  </p>
  <%= link_to 'Edit profile', edit_jerry_path(@jerry), :class => "button tiny radius" if @jerry.makers.include? current_maker %>
</div>
<div class="medium-8 columns">
  <div class="medium-6 columns">
    <% if @jerry.organs.any? %>
      <h2>Organs</h2>
    <%= render @jerry.organs %>
  <% end %>
  </div>
  <div class="medium-6 columns">
    <% if @jerry.skills.any? %>
      <h2>Skills</h2>
    <%= render @jerry.skills %>
  <% end %>
  </div>
  <div class="medium-12 columns clearfix">
    <h2>Makers</h2>
    <% @jerry.makers.each do |maker| %>
      <%= link_to "+#{maker.name}", maker_path(maker), class: "label radius secondary" %>
  <% end %>
    <%= link_to 'Add a maker', edit_team_path(@jerry), :class => "button tiny radius right" if @jerry.makers.include? current_maker %>
  </div>
</div>
<div class="row">
  <div class="medium-12 columns">
    <h2>Story</h2>
    <h5 class="text-center">
      <span data-tooltip="right" aria-haspopup="true" class="has-tip tip-right" title="You can set a milestone when you are done with editing the content of the pad below. Just click on the star to 'Save a revision' \o/">Good practice</span>
    </h5>
    <iframe name='embed_readwrite' src='http://lite4.framapad.org/p/jerrydit-adoptajerry-<%= 'staging' unless Rails.env == 'production' %>-<%= @jerry.id %>?showControls=true&showChat=false&showLineNumbers=true&useMonospaceFont=true&userName=<%= current_maker ? current_maker.name : "Curious" %>' width=1000 height=600></iframe>
    <div class="small-6 small-centered columns">
      <%= link_to 'Edit this pad on Framapad', "http://lite4.framapad.org/p/jerrydit-adoptajerry-#{'staging' unless Rails.env == 'production'}-#{@jerry.id}", class: "button radius expand", target: "_blank" %>
    </div>
  </div>
</div>
