<div class="row">
  <div class="medium-4 columns">
    <%= f.label :layer %>
    <%= f.select :layer, ['OS', 'Application'], prompt: 'Select a layer' %>
  </div>

  <div class="medium-4 columns">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="medium-4 columns">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>

  <%= f.link_to_remove "Remove this skill", class: "right" %>
</div>
