<div class="medium-5 small-centered columns">
  <h1><%= "Hi #{@maker.name}!" %></h1>
  <%= form_for @maker, :url => edit_profile_path do |f| %>
    <%= f.label :your_public_makername %>
    <%= f.text_field :name %>
    <%= f.submit 'Save', class: 'button radius success' %>
    or
    <%= link_to 'Cancel', maker_path(@maker) %>
  <% end %>
</div>
