<div class="medium-8 small-centered columns">
  <div class="panel">
    <%= gravatar_tag @maker.uid, :size => 50, alt: "Gravatar of #{@maker.name}" %>
    <% if @maker == current_maker %>
      <%= link_to 'Edit my profile', edit_profile_path, class: 'button tiny radius right' %>
    <% end %>
    <p class="makername label radius secondary"><%= "+#{@maker.name}"%></p>
    <p>
      <%= "@#{@maker.city}" unless @maker.city.blank? %>
      <% if !@maker.bio.blank? %>
        <br>
        <%= @maker.bio %>
        <br>
      <% end %>
      <em><%= "Happy maker since #{@maker.created_at.strftime("%B %Y")}" %></em>
    </p>
  </div>

  <h3>Contributions</h3>

  <% if @jerries.any? %>
    <% @jerries.each do |jerry| %>
    <p>
    <% if jerry.avatar.url %>
      <%= link_to image_tag(jerry.avatar.url(:small).to_s, alt: "Avatar of #{jerry.name}"), jerry_path(jerry) %>
    <% else %>
      <%= link_to image_tag("http://placehold.it/50x50&text=#{jerry.name.first.upcase}", alt: "Avatar of #{jerry.name}"), jerry_path(jerry) %>
    <% end %>
      <%= link_to jerry.name, jerry_path(jerry) %>
    </p>
    <% end %>
  <% end %>
</div>
