<div class="medium-8 small-centered columns">
  <h1><%= "Contributions from #{@maker.name}" %></h1>
  <% if @maker == current_maker %>
    <%= link_to 'Edit my makername', edit_profile_path, class: 'button tiny radius' %>
  <% end %>
  <% if @jerries.any? %>
    <% @jerries.each do |jerry| %>
    <p>
    <% if jerry.avatar.url %>
      <%= link_to image_tag(jerry.avatar.url(:small).to_s), jerry_path(jerry) %>
    <% else %>
      <%= link_to image_tag("http://placehold.it/50x50&text=#{jerry.name.first.upcase}"), jerry_path(jerry) %>
    <% end %>
      <%= link_to jerry.name, jerry_path(jerry) %>
    </p>
    <% end %>
  <% end %>
</div>
