<div class="row">
  <div class="medium-6 columns">
    <%= f.label :role %>
    <%= f.select :role, ['Hard drive', 'Processor', 'Power supply', 'RAM', 'Wired network interface', 'Wireless network interface'], prompt: "Select an organ" %>
  </div>

  <div class="medium-3 small-6 columns">
    <%= f.label :perf %>
    <%= f.text_field :quantifier %>
  </div>

  <div class="medium-3 small-6 columns">
    <%= f.label :unit %>
    <%= f.select :unit, ['GB', 'MB', 'GHz', 'MHz', 'Watts', 'MB/s'], prompt: "Select unit" %>
  </div>

  <%= f.link_to_remove "Remove this organ", class: "right" %>
</div>
