<%= form_for([@jerry, @jerry.organs.build]) do |f| %>
<p>
  <%= f.label :role %><br>
  <%= f.text_field :role %>
</p>
<p>
  <%= f.label :quantifier %><br>
  <%= f.text_field :quantifier %>
</p>
<p>
  <%= f.label :unit %><br>
  <%= f.text_field :unit %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>