<!-- Navigation -->
<div class="fixed">
  <nav class="top-bar" data-topbar >
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <%= link_to "home", root_path, title: "Go to the home page", class: "nav-1" %>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li><%= link_to "Profiles", root_path + "#family", class: "nav-2" %></li>
        <li><%= link_to "Add a Jerry", root_url + "#register", class: "nav-3" %></li>
        <li><%= link_to "Build your Jerry", build_path, class: "nav-4" %></li>
        <li><%= link_to "About Jerry →", "http://youandjerrycan.org", target: "_blank", class: "nav-5" %></li>
      </ul>
    </section>
    <section class="top-bar-section">
      <ul class="right">
        <% if current_maker %>
        <li>
          <%= link_to "Aloha! #{current_maker.name}", maker_path(current_maker) %>
        </li>
        <li class="divider"></li>
        <li><%= link_to "Sign Out", signout_path %></li>

        <% else %>
        <li>
          <form id='browser_id_form' action='/auth/browser_id/callback'>
            <input type='hidden' name='assertion'/>
            <button type='submit' class='secondary'>Sign in with Persona</button>
          </form>
        </li>
        <% end %>

      </ul>
    </section>
  </nav>
</div>

<!-- End Navigation -->
